{% extends 'index.html' %}
{% block content %}
{% if user.is_authenticated %}
<h3>Following</h3>
{% for item in follow %}
<li> <a href="{% url 'resultstrend' item.Phrases %}">{{item.Phrases}}  </a></li>
{% endfor %}
{% else %}
<a href="/home" class="btn btn-outline-primary">Log in</a>To continue
{% endif %}

<form action="{% url 'addfollowing' %}" method="POST" >
      {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Add something to follow</label>
    <input type="text" name="phrase" class="form-control" placeholder="Enter phrase">
    <small class="form-text text-muted">Type in a phrase you want to follow</small>
  </div>

  <button type="submit" class="btn btn-outline-secondary">Submit</button>
</form>


{% endblock %}